<header class="nav-bar" onload="active(), changeHeaderElementColor()">
    <nav>
        <label for="click" id="menu-btn">
            <i class="fas fa-bars bar-btn"></i>
        </label>
        <input type="checkbox" id="click" class="click">
        <a id="username" href="/"> <b>Ayusman Panda</b></a>
        <ul>
            <li><a class="nav-buttons" id="home" href="/">Home</a></li>
            <li><a class="nav-buttons" id="project" href="/projects">Projects</a></li>
            <li><a class="nav-buttons" id="feedback" href="/feedback">Feedback</a></li>
        </ul>
    </nav>
</header>
<script src="/js/index.js"></script>