<link rel="stylesheet" href="/css/home.css">
<main>
    <div id="resume-download">
        <a href="https://drive.google.com/uc?export=download&id=1bHMFupDis5wHtihhFoSRXlHu6Z3UeVPB"><i class="fa-solid fa-download fa-beat-fade"></i></a>
    </div>
    <div id="hover-message">
        <span>Download My Resume</span>
    </div>
    <section id="profile">
        <div id="img-holder">
               <img src="/images/profile.jpg" alt="Profile-Iamge">
        </div>
        <div id="info-holder">
            <div>
                <span>Hi there, I am Ayusman, a <b>Web Developer</b> </span>
                <div id="social-btn">
                    <a href="https://www.linkedin.com/in/ayusman-panda-637b57197" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="mailto:ayusmanpanda5001@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
                    <a href="tel:+919348762554"><i class="fa-solid fa-square-phone"></i></a>
                    <a href="https://github.com/Ayusman8" target="_blank"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section id="skills">
        <div id="skill-container">
            <div class="heading-container">
                <span class="heading">Skills</span>
            </div>
            <p>| Core Java | Java8 | HTML5 | CSS | JS | NodeJS | ExpressJS | MongoDB | MySQL |</p>
        </div>
    </section>
    <Section id="about">
        <div class="heading-container">
            <span class="heading">About</span>
        </div> 
        <p>I am a passionate Data Analyst with a knack for transforming raw data into actionable insights. With a strong foundation in MySQL, an advanced skillset in Power BI, and Microsoft Excel. I thrive on the challenge of making data not just understandable but also impactful.</p>
        <p>My journey in the world of data analysis has been all about turning complex datasets into visually appealing and informative dashboards. I take pride in my ability to uncover hidden patterns, trends, and opportunities that drive informed decision-making. </p>    
    </Section>
    <section id="achievement">
        <div class="heading-container">
            <span class="heading">Achievement</span>
            <ul>
                <li>Earned 5-star golden badge in SQL in HackerRank</li>
                <li>Solved 100+ queries across different coding platforms in SQL.</li>
                <li>Top 20 ranking for a Machine Learning-based project on drug discovery in Atal Incubation Centre - Centre for Cellular and Molecular Biology</li>
                <li>Secured a perfect score of 500/500 Adidas Codes’n’stripes May 2021</li>
                <li>Top 30 ranking for a project on engineering a bio scaffold for osteoporosis in Maker Mela - Nationwide Project Showcase 2020.</li>
            </ul
        </div>
    </Section>
    <section id="info-section">
        <div id="info">
            <p>Designed and optimized complex data models with relationships for 12+ complex related tables. Performed complex data joins and calculations in MySql. Calculated requirements of the clients with 97 percent accuracy in Power BI . Worked with dataset having 100000+ rows. Implemented security measures at the row level to limit data access based on user roles and permissions for 10+ users.</p>
        </div>
    </section>
    <section id="experience">
        <div class="heading-container">
            <span class="heading">Work Experience</span>
            <div class="experience-info">
                <span class="duration">June 2021 - May-2022</span>
                <span class="company-position">HighRadius Corp</span>
                <span class="company-position">RPA Developer Intern</span>
            </div>
        </div>
    </section>
    <section id="education">
        <div class="heading-container">
            <span class="heading">Education</span>
            <div class="experience-info">
                <span class="duration">June 2018 - July-2022</span>
            <span class="company-position">Siksha O Anusandhan University</span>
            <span class="company-position">Bhubaneswar, Odisha</span>
            </div>
        </div>
    </section>
</main>