<link rel="stylesheet" href="/css/home.css">
<main>
    <div id="resume-download">
        <a href="https://drive.google.com/uc?export=download&id=13UsijytUdtyoU4IeHb4n7PiAn9gv3mZV"><i class="fa-solid fa-download fa-beat-fade"></i></a>
    </div>
    <div id="hover-message">
        <span>Download My Resume</span>
    </div>
    <section id="profile">
        <div id="img-holder">
               <img src="/images/profile.jpg" alt="Profile-Iamge">
        </div>
        <div id="info-holder">
            <div>
                <span>Hi there, I am Ayusman, a <b>Web Developer</b> </span>
                <div id="social-btn">
                    <a href="https://www.linkedin.com/in/ayusman-panda-637b57197" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="mailto:ayusmanpanda5001@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
                    <a href="tel:+919348762554"><i class="fa-solid fa-square-phone"></i></a>
                    <a href="https://github.com/Ayusman8" target="_blank"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section id="skills">
        <div id="skill-container">
            <div class="heading-container">
                <span class="heading">Skills</span>
            </div>
            <p>| Core Java | Java8 | HTML5 | CSS | JS | NodeJS | ExpressJS | MongoDB | MySQL |</p>
        </div>
    </section>
    <Section id="about">
        <div class="heading-container">
            <span class="heading">About</span>
        </div> 
        <p>I am delighted to introduce myself, an accomplished technologist with a comprehensive skill set spanning HTML5, CSS, JavaScript, Node.js, MongoDB, MySQL, and Express.js. With a solid foundation in front-end and back-end development technologies and I brings a wealth of experience and innovation to the table.</p>
        <p>With a proven track record of delivering high-quality solutions and a passion for staying abreast of emerging technologies, I poised to make significant contributions to any project or team focused on pushing the boundaries to extreme.</p>    
    </Section>
    <section id="achievement">
        <div class="heading-container">
            <span class="heading">Achievement</span>
            <ul>
                <li>Earned 4-star Silver badge in Java in HackerRank</li>
                <li>Solved 100+ problems across different coding platforms in Java.</li>
                <li>Completed a full stack development course from Coding Ninjas.</li>
                <li>Contributed for a top 5 ranking project on "Respire air Quality of Delhi" conducted by Where-U-Elevate </li>
                <li>Done open source contribution as a freelancer</li>
            </ul
        </div>
    </Section>
    <section id="info-section">
        <div id="info">
            <p>During my tenure at my previous company, I embarked on a journey of continuous learning, growth, and meaningful contribution which leads me by creating a perfect bond with my team as well as with clients like Kraft Heinz, Amazon, Nestle, Taulia, Walmart, Target etc. And all these qualities helped me to be more productive with a hint of efficiency.</p>
        </div>
    </section>
    <section id="experience">
        <div class="heading-container">
            <span class="heading">Work Experience</span>
            <div class="experience-info">
                <span class="duration">June 2021 - May-2022</span>
                <span class="company-position">HighRadius Corp</span>
                <span class="company-position">RPA Developer Intern</span>
            </div>
        </div>
    </section>
    <section id="education">
        <div class="heading-container">
            <span class="heading">Education</span>
            <div class="experience-info">
                <span class="duration">June 2018 - July-2022</span>
            <span class="company-position">Siksha O Anusandhan University</span>
            <span class="company-position">Bhubaneswar, Odisha</span>
            </div>
        </div>
    </section>
</main>
