*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

html::-webkit-scrollbar{
    width: 6px;
}
html::-webkit-scrollbar-thumb{
    background-color: rgb(101, 101, 101);
    border-radius: 4px;
}
html::-webkit-scrollbar-track{
    background-color: rgb(203, 203, 203);
}

body{
    margin-top: 60px;
    background-color: rgb(31,56,80);
}